
@font-face {
    font-family: "B Yekan";
    src: url("./font/BYekan.eot");
    src: url("./font/BYekan.eot?#iefix") format("embedded-opentype"),
    url("./font/BYekan.ttf") format("truetype"),
    url("./font/BYekan.woff") format("woff");
}

body {
    font-family: "B Yekan";
    font-size: 18px;
    background-color:#8c8c8c;
}
body nav#nav_bar {
    background-color: #393c43;
}
.cols_height{
    overflow-x: auto;
    overflow-y: auto;

}
.header_icons{
    color: white;
}
.new_massage_btn{
    width: 150px;px;
    height: 36px;
    border-radius: 5px;
    border: 2px solid rgb(139,195,74);
    background-color: #F1FFE9;
}
.header_border{
    border-bottom: 1vh solid rgb(139,195,74);
}
.header_items{
    margin-right: 10px;
    margin-left: 10px;
}
.sort_button{
    background-color:#8d8d8d;
}
.sort_button:hover{
    color: black;
    background-color:#ffe200 ;
}
.header_li{
    height: 50px;
}
.link{
    color: black;
    cursor: pointer;
}
.onhover:hover{
    color: #ffe200;
}

.SmsPreview {
    background-color: #4abeff;
    padding: 3px;
    border-bottom: 1px solid #393c43;
}
.SmsPreview:hover{
    background-color: #3ea1d7;

}
.SmsPreview #SmsPriviewIcons {
    visibility: hidden;
}
.SmsPreview:hover #SmsPriviewIcons {
    visibility: visible;
}

p.tooltipp {outline:none; }
p.tooltipp:hover {text-decoration:none;}
p.tooltipp span {
    z-index:10;
    display:none;
    padding:14px 20px;
    margin-top:35px;
    margin-left:-160px;
    line-height:16px;
    border-radius:2px;
    box-shadow: 0px 0px 8px 4px #666;
    width:50%;
    white-space:normal;
}
p.tooltipp:hover span{
    display:inline;
    position:absolute;
    border:2px solid #FFF;
    color:#EEE;
    background: #333333;
}
p.tooltipp span:hover
{
    display:inline;
    position:absolute;
    border:2px solid #FFF;
    color:#EEE;
    background: #333333;
    width: 50%;
    overflow-x: auto;
}
.bottom_right_chat_preview{
    font-size:15px;
    color: gray;
    margin:0px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bubble-you
{
    direction: rtl;
    position: relative;
    min-width: 25%;
    max-width: 50%;
    padding: 0px;
    background: #F1FFE9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:  2px solid rgb(139,195,74);
    float: right;
    word-wrap: break-word
}

.bubble-you:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 0 8px 9px;
    border-color: transparent #F1FFE9;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -8px;
    right: -9px;
    top: 50%;
}
.bubble-you:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 0 9px 10px;
    border-color: transparent  rgb(139,195,74);
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -9px;
    right: -12px;
    top: 50%;
}
.bubble-contact
{
    direction: rtl;
    position: relative;
    min-width: 25%;
    max-width: 50%;
    padding: 0px;
    background: #ffafc1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:  2px solid #ff719b;
    float: left;
    word-wrap: break-word
}

.bubble-contact:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 9px 8px 0;
    border-color: transparent #ffafc1;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -8px;
    left: -9px;
    top: 50%;
}

.bubble-contact:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 10px 9px 0;
    border-color: transparent  #ff719b;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -9px;
    left: -12px;
    top: 50%;
}
.sms-form{
    background-color:white;
}
.sms-text-area{
    border: 0;
    padding: 0;
    margin: 0;
    display: block;
    resize:none;
    width:100%;
    height:100%;
    direction: rtl;

}
.sms-text-area:hover{
    background-color: rgba(211, 211, 211, 0.49);
}
.sms-form-submit{
    background-color:white;
    border: 0;
}
.sms-form-submit:hover{
    background-color: rgba(211, 211, 211, 0.49);
}
.sms-form-submit:hover > i{
    color:rgb(139,195,74) ;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    height: 50vh;
    overflow: auto;
    background: #F1FFE9;
    width: 300px;
    position: relative;


}
.new-msg-content{
    background-color: gold;
    height: 300px;
}
.modal-backdrop
{
    opacity:0.8 !important;
}